<nav class="navbar">
    <div class="container-fluid">
        <h4>NYT Scraper</h4>
        <ul class="navbar-nav nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/svd">Saved</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Saved Scraper Articles</h1>
</div>
<div class="container-fluid articles">

</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="../public/assets/js/index.js"></script>